:root {
  /* Colors */
  --primary-purple: #7e22ce;
  --primary-hover: #6b21a8;
  --bg-light: #f8fafc;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --white: #ffffff;
  --border-color: rgba(0, 0, 0, 0.1);

  /* Spacing & Borders */
  --radius: 10px;
  --shadow: 0 4px 6px var(--border-color);
  --gap: 20px;
  --container-padding: 40px;
}

nav {
    padding: '20px';
    background-color: '#334155'; 
    color: 'white'; 
    display: 'flex';
    gap: '20px'
}